node_modules
node_modules/*
dist 
dist/*
hide
hide/*
hide/markitdown
hide/markitdown/*

# macOS system files
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store
**/**/**/**/**/.DS_Store
**/**/**/**/**/**/.DS_Store                                             
.DS_Store
Client/.DS_Store
Client/public/.DS_Store
Client/public/client/.DS_Store
Client/public/client/js/.DS_Store
Client/public/client/re/.DS_Store
test/.DS_Store
Utils/.DS_Store
