	/*
.woff: 'woff'
.woff2: 'woff2'
.ttf:'truetype'
.otf:'opentype' (IE only)
.eot:'embedded-opentype' (IE only)
.svg:'svg'*/

	/*
Explanation of font definitions
Fonts are defined as follows
@font-face {
font-family: 'font name';
src: url('path of font data')format('format format');
The format has the following forms
.woff: 'woff'
.woff2: 'woff2'p
.ttf:'truetype'; .otf:'opentype
.otf:'opentype'
.eot:'embedded-opentype' (IE only)
.svg:'svg'
Font definitions
*/
@font-face {
	font-family: 'nsBlack';
	src: url('css/font_jp/static/NotoSansJP-Black.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nsBoldi';
	src: url('css/font_jp/static/NotoSansJP-Bold.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nsexb';
	src: url('css/font_jp/static/NotoSansJP-ExtraBold.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nsla';
	src: url('css/font_jp/static/NotoSansJP-Light.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nsli';
	src: url('css/font_jp/static/NotoSansJP-ExtraLight.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nsme';
	src: url('css/font_jp/static/NotoSansJP-Medium.ttf')format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'nsaa';
	src: url('css/font_jp/static/NotoSansJP-Regular.ttf')format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'nseib';
	src: url('css/font_jp/static/NotoSansJP-SemiBold.ttf')format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'nsta';
	src: url('css/font_jp/static/NotoSansJP-Thin.ttf')format('truetype');
	font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  font-size:18px;
}
body{
	background-color:black;
	font-family:'ns';
}



/* The important stuff */
#hamburger .container.top {
  transform: translateY(-3px) scaleX(.88235);
}

#hamburger .container.bottom {
  transform: translateY(3px) scaleX(.88235);
}

#hamburger input:checked + label .container .line.bottom {
  transform: rotateZ(45deg);
}

#hamburger input:checked + label .container .line.top {
  transform: rotateZ(-45deg);
}

#hamburger input:checked + label .container.bottom {
  transform: none;
}

#hamburger input:checked + label .container.top {
  transform: none;
}

#hamburger input:checked + label .line.bottom {
  transform: none;
  transition-delay: 0.1s;
}

#hamburger input:checked + label .line.top {
  transform: none;
  transition-delay: 0.1s;
}

.container {
  transition: transform 0.2s ease-in-out 0.1s;
}

#hamburger input:checked + label .container {
  transition-delay: 0s;
}

.line {
  transition: transform 0.2s ease-in-out;
   z-index: 1000; /* 他の要素よりも上に表示されるように */
}

/* The boilerplate stuff */
#hamburger button {
  all: unset;
  cursor: pointer;
  display: block;
}

#hamburger button * {
  pointer-events: none;
}

.burger {
  height: 31px;
  width: 31px;
  display: block;
  position: relative;
  z-index: 1000; /* 他の要素よりも上に表示されるように */
}

.container {
  position: absolute;
  left: 7px;
  top: 15px;
  z-index: 1000; /* 他の要素よりも上に表示されるように */
}

.line {
  height: 2px;
  border-radius: 3px;
  background: red;
  width: 28px;
  z-index: 1000; /* 他の要素よりも上に表示されるように */
}

#hamburger input {
  display: none;
}

#nav{
   z-index:1;
   position: absolute;
   top: 0;
   left: -40%;
   width: 40%;
   height: 100vh;
   background: #ffffff;
   transition: .7s;
}


#nav.show {
 left: 0;
}

#nav ul{
          z-index:1;
   padding-top: 80px;
}

#nav ul li{
          z-index:1;
   list-style-type: none;
   font-size: 20px;
}

#nav a{
          z-index:1;
   display: block;
   text-decoration: none;
   color: #000000;
   margin: 0 15px;
   padding: 10px;
   transition: .5s;
}

#nav li a:hover{
          z-index:1;
   color: #ffffff;
   background: #cd5c5c;
   border-bottom: none;
}


.welcome_msg{
	font-family:'nsta';
	text-align: center;
	font-size:70px;
	color:red;
	/*Bigfont&Red!*/
}

.welcome_msg_minimal{
	font-family:'nsta';
	text-align: center;
	font-size:55px;
	color:#ffffff;
}

.cookie{
	  border-radius: 10px; 
	  display: table-cell;
	  vertical-align:center;
	background-color:#ffffff;
	  position: absolute;/*←絶対位置*/
	    bottom: 0; /*下に固定*/
}

.singin_big {
  text-align: center;
  margin: 0 auto;
  display: table-cell;
  vertical-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  border-radius: 20px;
  width: 400px;
  height: 80px;
  transition: 0.3s;
  background-image: linear-gradient(150deg, rgba(247, 166, 12, 1) 10%, rgba(255, 34, 87, 1) 40%, rgba(154, 39, 238, 1) 68%, rgba(35, 102, 247, 1) 90%);
}

.singin_big:hover {
  opacity: .7;
}

.cookieonof {
  display: table-cell;
  vertical-align:center;
  argin-left: auto;
  margin-right: auto;
  text-align:  center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  transition: 0.3s;
  background-image: linear-gradient(150deg, rgba(247, 166, 12, 1) 10%, rgba(255, 34, 87, 1) 40%, rgba(154, 39, 238, 1) 68%, rgba(35, 102, 247, 1) 90%);
}

.cookieonof:hover {
  opacity: .7;
}

.textbox-001-label,
.textbox-001 {
    color: #333;
}

.textbox-001-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox-001 {
    width: 90%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 25px;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-001::placeholder {
    color: #999;
}

.textbox-003-label,
.textbox-003 {
    color: #333;
}

.textbox-003-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox-003 {
    width: 90%;
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
    background: #eff1f5;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-003::placeholder {
    color: #999;
}

.search-form-006 {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

.search-form-006 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-size: 1em;
    outline: none;
}

.search-form-006 input::placeholder {
    color: #000000;
}

.search-form-006 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #e499ff;
    cursor: pointer;
}

.search-form-006 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.newandel{
	background-color:#ffffff;
	border-radius: 10px; 
	width: 70%;
}